$color-yellow: #F2A62A;
$color-beige: #F2EBD5;
$color-green: #658791;
$color-orange: #F27649;
$color-red: #B4766A;
$color-secondary: #999999;
$color-dark: #333333;
$color-bg: #DCE7F3;
$color-blue: #027AFF;

$color-primary: $color-yellow;
